* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  /* min-height: 100000vh;*/
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
.logo {
  color: rgb(187, 117, 31);
}

/* HOME */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/gultik3.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  /* GRADASI */
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  font-weight: bolder;
}

.hero .content p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.4;
  color: white;
  box-shadow: 2px black;
  font-weight: 100;
  /* mix-blend-mode: difference; untuk penyesuaian warna */
}

.hero .content a {
  margin-top: 0.2rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: rgb(191, 156, 15);
  border-radius: 1.5rem;
  box-shadow: 2px 2px 4px rgba(1, 1, 3, 1);
  text-decoration: none;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.content a:hover {
  transform: scale(1) translateY(-9px);
  color: #333;
}

@media (max-width: 768px) {
  .hero .content h1 {
    font-size: 4em;
    font-weight: bold;
  }
  .hero .content p {
    line-height: 1;
  }
}

@media (max-width: 576px) {
  .hero .content h1 {
    font-size: 3em;
    font-weight: bold;
  }
  .hero .content p {
    line-height: 1;
    font-size: 1rem;
  }
}

/* tentang */
.about {
  background-color: #000;
  min-height: 100vh;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.tentang h1 {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 60px;
  font-weight: bolder;
}

.carousel-item img {
  border-radius: 10%;
  padding: 20px;
}

.caption1 {
  padding: 15px;
  text-align: center;
}

.caption1 ul {
  list-style: none;
}

/* .carousel {
  padding: 40px 80px;
} */

/* BAGIAN MENU */

.Menu {
  background-color: #000;
  padding-top: 60px;
}

.best {
  align-items: center;
  text-align: center;
}

.best h1 {
  font-size: 2.5rem;
  font-weight: bolder;
}

.seller {
  padding-top: 50px;
}

.best img {
  width: 50%;
  cursor: pointer;
  transition: 0.8s ease;
}

.best img:hover {
  transform: scale(1) translateY(-9px);
}

.menubiasa {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card img {
  border-radius: 50%;
  cursor: pointer;
  transition: 0.8s ease;
}

.card img:hover {
  transform: scale(1) translateY(-9px);
}

@media (max-width: 786px) {
  .best img {
    width: 70%;
  }
}

/* CONTACT */

.contactUs h1 {
  text-align: center;
  font-size: 3em;
  padding-top: 30px;
}

.contactkita {
  background: #000;
}
.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contactUs .title h2 {
  color: #fff;
  font-weight: 500;
}

.form {
  grid-area: form;
}
.info {
  grid-area: info;
}
.map {
  grid-area: map;
}

.contact {
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0, 15);
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas:
    "form info"
    "form map";
  grid-gap: 20px;
  margin-top: 20px;
  min-height: 100vh;
}

.contact h3 {
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
  color: #a9a9a9;
}

.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  color: #000;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: 500;
}

.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #a9a9a9;
}

.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #a9a9a9;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.inputBox input[type="submit"] {
  background: #000;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 130px;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
}

.inputBox::placeholder {
  color: aqua;
}

.info {
  /* background: #a9a9a9; */
}

.info h3 {
  color: #000;
  font-weight: 550;
}

.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infoBox div span {
  max-width: 40px;
  height: 40px;
  color: #000;
  /* background: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  /* border-radius: 50%; */
  margin-right: 15px;
}

.info .infoBox div p {
  color: #000;
  font-size: 1.1em;
}

.info .infoBox div a {
  color: #000;
  text-decoration: none;
  font-size: 1.1em;
}

.sci {
  margin-top: 30px;
  display: flex;
}

.sci li {
  list-style: none;
  margin-right: 15px;
}

.sci li a {
  color: #000;
  font-size: 1.7em;
}

.sci li a:hover {
  color: saddlebrown;
}

/* map */
.map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}

/* responsive */
@media (max-width: 1020px) {
  .contactUs {
    padding: 20px;
  }
  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form"
      "info"
      "map";
  }
  .map {
    padding: 0;
    min-height: 300px;
  }
  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .inputBox {
    width: 100%;
  }

  .contact {
    padding: 30px;
  }
}

/* footer */
.foot {
  background-color: #333;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  background-color: var(--second-bg-color);
}

.footer .social {
  text-align: center;
  padding-bottom: 5px;
  color: var(--main-color);
}

.footer .social a {
  font-size: 35px;
  color: rgb(202, 193, 193);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 5 10px;
  transition: 0.3s ease-in-out;
}

.footer .social a:hover {
  transform: scale(1.2) translateY(-10px); /*animasi naik turun*/
  background-color: var(--main-color);
  color: #6a11cb;
  box-shadow: 0 0 25px var(--main-color);
}

.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: #eaeaea;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: 0.55s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid #6a11cb;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer .copyright {
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
  color: #eaeaea;
}
